@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Rubik+Glitch&display=swap');

img{
    width: 200px;
    height: 200px;
    box-shadow: 10px 5px 5px red;
    margin-bottom: 10px;
}
footer{
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 0;
    background-color: #8F4245;
    color: lightgray;
    font-family: 'Rubik Glitch', cursive;
    text-shadow: 10px 5px 5px black;
}
header{
    font-family: 'Rubik Glitch', cursive;
}
body{
    margin: 0;
    padding: 0
}
main{
    padding: 16px;
    font-family: 'Lobster', cursive;
    background-color: #231E33;
    height:100vh
}
nav{
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: #8F4245;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
a{
    text-decoration: none;
    color: lightgray;
    text-shadow: 10px 5px 5px black
}
.vegetarian{
    grid-row-start: 1;
}
.vegetarian2{
    grid-row-start: 4;
}
.picture{
    grid-row-start: 2;
}
.picture2{
    grid-row-start: 6;
}
.stars{
    grid-row-start: 7;
}

tr:nth-child(even){
    background-color: lightgray;
}
tr:hover{
    background-color: yellow;
}
li:hover{
    background-color: yellow
}
div{
    color: lightgray;
    text-shadow: 10px 5px 5px black
}
h1{
    color: #AD9069;
    text-shadow: 2px 1px 1px lightgray;
}
h2{
    color: #AD9069;
    text-shadow: 2px 1px 1px lightgray;
}
h3{
    color: #AD9069;
}
table{
    background-color: white;
    box-shadow: 10px 5px 5px red;
}
ol{
    background-color: white;
    box-shadow: 10px 5px 5px red;
    width:fit-content
}
